{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{{ title }}</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      href="{% static 'dashboard/assets/vendors/mdi/css/materialdesignicons.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'dashboard/assets/vendors/flag-icon-css/css/flag-icon.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'dashboard/assets/vendors/css/vendor.bundle.base.css' %}"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link
      rel="stylesheet"
      href="{% static 'dashboard/assets/css/style.css' %}"
    />
    <!-- End layout styles -->
    <link
      rel="shortcut icon"
      href="{% static 'dashboard/assets/images/favicon.png' %}"
    />
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
          <div class="row flex-grow">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left p-5">
                <div class="brand-logo">
                  <h2>
                    <span class="text-success">V C</span>
                    <span class="text-danger">G & C</span>
                  </h2>
                </div>
                <h4>Welcome! to UNITEN</h4>
                <h6 class="font-weight-light">
                  Register with student's email provided by UNITEN.
                </h6>
                <div class="row">
                  <div class="col-md-1"></div>

                  <div class="col-md-10">
                    <div class="register-box-body">
                      <h2 class="login-box-msg">Register a new Student</h2>
                      {% if form.errors %}
                      <div class="alert alert-danger">{{ form.errors }}</div>
                      {% endif %}
                      <form action="{% url 'student-register' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1"
                            ><i class="fa fa-user text-light"></i
                          ></span>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Username*"
                            name="username"
                            required
                          />
                          <p class="input-group help-block text-muted">
                            <small class="text-warning"
                              >Username is required and mandatory. You will use
                              this username for login later</small
                            >
                          </p>
                        </div>

                        <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1"
                            ><i class="fa fa-circle text-primary"></i
                          ></span>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="First Name"
                            name="first_name"
                            aria-label="First Name"
                            aria-describedby="basic-addon1"
                          />
                        </div>

                        <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1"
                            ><i class="fa fa-circle text-success"></i
                          ></span>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Last Name"
                            name="last_name"
                          />
                        </div>

                        <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1"
                            ><i class="fa fa-envelope text-light"></i
                          ></span>
                          <input
                            type="email"
                            class="form-control"
                            placeholder="Email"
                            name="email"
                            aria-label="Email"
                            aria-describedby="basic-addon1"
                            required
                          />
                        </div>

                        <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1"
                            ><i class="fa fa-lock text-danger"></i
                          ></span>
                          <input
                            type="password"
                            class="form-control"
                            placeholder="Password"
                            name="password1"
                            aria-label="Password"
                            aria-describedby="basic-addon1"
                          />
                        </div>
                        <div>
                          <p class="input-group help-block text-muted">
                            <small class="text-warning">
                              Make sure your password:
                              <ul>
                                <li>Contains Number</li>
                                <li>Contains Alphabet(lower and upper)</li>
                                <li>Contains Alphanumeric Character</li>
                              </ul>
                            </small>
                          </p>
                        </div>
                        <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1"
                            ><i class="fa fa-lock text-success"></i
                          ></span>
                          <input
                            type="password"
                            class="form-control"
                            placeholder="Retype password"
                            name="password2"
                            aria-label="Retype Password"
                            aria-describedby="basic-addon1"
                          />
                        </div>
                        <hr />
                        <div class="row">
                          <div class="col-sm-4"></div>
                          <!-- /.col -->
                          <div class="col-sm-4">
                            <button
                              type="submit"
                              class="btn btn-primary btn-block btn-flat"
                            >
                              Register
                            </button>
                          </div>
                          <div class="col-sm-4"></div>
                          <!-- /.col -->
                        </div>
                      </form>
                    </div>
                  </div>

                  <div class="col-md-1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'dashboard/assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'dashboard/assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/misc.js' %}"></script>
    <!-- endinject -->
  </body>
</html>
