{% extends "dashboard/student-base.html" %} {% block main_content %}
<div class="row">
  <div class="col-sm-12">
    <h1>All Events List</h1>
  </div>
</div>

<div class="row mt-2">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">All Events Table</h4>
        <p class="card-description">You can <code>Edit & Delete</code></p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Title</th>
              <th>Category</th>
              <th>Start Date</th>
              <th>Start Time</th>
              <th>End Date</th>
              <th>Status</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            {% for event in events %}
            <tr>
              <td>{{ event.title }}</td>
              <td>{{ event.category }}</td>
              <td class="text-primary">{{ event.start_at.date }}</td>
              <td class="text-info">{{ event.start_at.time }}</td>
              <td class="text-danger">{{ event.ends_at.date }}</td>

              
            {% if event.id in participated_events %}
                <td class="text-success">Participated</td>
            {% else %}
            <td class="text-danger">Not Participated</td>
            {% endif %}
              
              <td>
                <label class="badge badge-info">
                    <a
                      href="{% url 'student-event-detail' event.id %}"
                      class="text-success"
                    >
                      <i class="mdi mdi-eye"></i>
                    </a>
                </label>
{% if request.user.is_student and not event.id in participated_events %}

                <label class="badge badge-success">
                  <a
                    href="{% url 'student-events-participate' event.id %}"
                    class="text-dark"
                  >
                    <i class="mdi mdi-pencil-box-outline"></i>
                  </a>
                </label>
                {% else %}
                <label class="badge badge-danger">
                  <a href="{% url 'student-events-un-participate' event.id %}" class="text-dark">
                    <i class="mdi mdi-block-helper"></i>
                  </a>
                </label>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

{% endblock main_content %}
